@import '../../styles/mixin';
@import '../../styles/variable';

.push {
    @include media-min ($screen-sm-min) {
        min-height: 30px;        
    }

    @include media-min ($screen-md-min) {
        min-height: 40px;  
    }
    
    @include media-min ($screen-lg-min) {
        min-height: 60px; 
    }

    @include media-min ($screen-ex-min) {
        min-height: 60px;
    }
}