@import '../components/Footer/Footer.scss';
@import '../components/Header/Header.scss';
@import '../components/Search/Search.scss';
@import '../components/Main/Main.scss';
@import '../components/Push/Push.scss';
@import '../components/WeatherCondition/WeatherCondition.scss';
@import '../components/WeatherForecast/WeatherForecast.scss';
@import '../components/ForecastRow/ForecastRow.scss';

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: #323544;
    width: 100%;
    height: 100%;
    position: relative;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    // display: flex;
    // flex-direction: column;
}
 

.weather-channel__container {
    min-height: 100%;
    position: relative;
}