@import '../../styles/variable';
@import '../../styles/mixin';

.weather-forecast__row {
    width: 90%;
    margin: 0 auto;
    

    @include media-min ($screen-sm-min) {
        padding: 8px 0px;
         
        text-align: center;
        margin: 0 auto;
        border-top: 1px white solid;
    }

    @include media-min ($screen-md-min) {
        padding: 8px 0px;
         
        text-align: center;
        margin: 0 auto;
        border-top: 1px white solid;
    }
    
    @include media-min ($screen-lg-min) {
        padding: 8px 0px;
         
        text-align: center;
        margin: 0 auto;
    }

    .weather-forecast__day {
        @include media-min ($screen-sm-min) {             
            display: flex;   
            padding: 4px 0px 4px 0px;
            font-weight: 700;                 
        }
    
        @include media-min ($screen-md-min) {
            display: flex;  
            padding: 4px 0px 4px 0px; 
            font-weight: 700; 
        } 
        
        @include media-min ($screen-lg-min) {
            display: flex;  
            padding: 4px 0px 4px 0px; 
            font-weight: 700; 
        }  
    }

    .weather-forecast__time {
        @include media-min ($screen-sm-min) {             
            display: flex;   
            padding: 0px 0px 8px 0px;                 
        }
    
        @include media-min ($screen-md-min) {
            display: flex;  
            padding: 0px 0px 8px 0px; 
        }      
    }

    .weather-forecast__d_i_h_l {
        @include media-min ($screen-sm-min) { 
            display: flex;
            flex-direction: row;
            justify-content: space-between;        
                        
        }
    
        @include media-min ($screen-md-min) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;  
        } 

        
        .weather-forecast__desc {
            min-width: 50px;
            text-align: left;
            @include media-min ($screen-sm-min) { 
                padding: 4px 0px 0px 0px;        
                        
            }
        
            @include media-min ($screen-md-min) {
                padding: 4px 0px 0px 0px;
            }    
            
            @include media-min ($screen-lg-min) {
                padding: 4px 0px 0px 0px;
                   
            }
        
        }

        .weather-forecast__img {
            img {
                width: 30px;
                height: 30px;
                
            }
        } 

        .weather-forecast_h_l {
            @include media-min ($screen-sm-min) {
                display: flex;
                min-width: 70px;
            }
        }
        
        .weather-forecast__high {
            
            @include media-min ($screen-sm-min) { 
                padding: 4px 20px 0px 0px;        
                        
            }
        
            @include media-min ($screen-md-min) {
                padding: 4px 20px 0px 0px;
            }    
            
            @include media-min ($screen-lg-min) {
                padding: 4px 0px 0px 0px;
                   
            }
        
        }

        .weather-forecast__low {
            
            @include media-min ($screen-sm-min) { 
                padding: 4px 0px 0px 0px;        
                        
            }
        
            @include media-min ($screen-md-min) {
                padding: 4px 0px 0px 0px;
            }    
            
            @include media-min ($screen-lg-min) {
                padding: 4px 0px 0px 0px;
                   
            }
        
        }
    }


}