@import '../../styles/variable';
@import '../../styles/mixin';

.weather-condition {
    position: relative;
    .weather-condition__location {
        position: relative;

        margin: 0 auto;
        font-size: 24px;
        letter-spacing: 1px;
        padding: 20px 0px 0px 0px;
        text-align: left;
        @include media-min ($screen-sm-min) {
           padding: 0px 8px;
           width: 90%;
            
        }
    
        @include media-min ($screen-md-min) {
            padding: 0px 8px;
            width: 90%;
            
        }
        
        @include media-min ($screen-lg-min) {
            padding: 0px 8px;
            width: 90%;
                      
        }
       
    }

    .weather-condition__temp_uni {
        position: relative;
        width: 90%;
        text-align: center;
        height: 200px;
        justify-content: space-around;
        margin: 0 auto;

        @include media-min ($screen-sm-min) {
            
            width: 90%;
             
        }

        @include media-min ($screen-md-min) {
            
            width: 90%;
             
        }

        @include media-min ($screen-lg-min) {
            
            width: 90%;
             
        }

        .weather-condition__temp {
            position: relative;
            font-size: 100px;
            font-weight: 400;
            display: block;
            text-align: left;
        }

        .weather-condition__unit {
            width: 50%;     
            font-size: 40px;
            font-weight: 100;
        // vertical-align: sub;
        
        }
 
    }

    .weather-condition__description {
        position: relative;
        text-align: center;
        text-transform: capitalize;
    }

    .weather-condition__icon {
        position: relative;
        text-align: center;
        top: -16px;

        img {
            image-rendering: auto;
            text-align: center;
        }
    }

    .weather-condition__desc {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        padding: 10px 0px 24px 0px;

        .weather-condition_info {
            position: relative;

            .citem {
                position: relative;
                bottom: 4px;
                padding: 0px 0px 0px 2px;
            }
           
        }
    }

}